/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: rgba(0,0,0,0.1);
}

header .logo img {
    max-width: 100%;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: #6610F2;
}


/* Sidebar (visible en desktop) */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #f9f9f9;
    padding-top: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding-left: 0;
}

.sidebar nav ul li {
    padding: 10px 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #f9f9f9;
}

/* Contenu principal */
main {
    margin-left: 300px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

header{
    display: none;
}
/* Contenu scrollable des liens */
.nav-links {
    flex: 1;
    overflow-y: auto; /* Active le défilement vertical */
}

.nav-links nav ul {
    list-style: none;
    padding-left: 0;
}

.nav-links nav ul li {
    padding: 6px 20px;
}

.nav-links nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-links nav ul li a:hover {
    background-color: #f9f9f9;
}

/* Footer de la sidebar */
.sidebar-footer {
    padding: 10px 20px;
    background-color: #f9f9f9;
    font-size: 12px;
    color: #6610f2;
}

.sidebar-footer .footer-links {
    list-style: none;
    padding-left: 0;
}

.sidebar-footer .footer-links li {
    padding:  0;
}

.sidebar-footer .footer-links li a {
    color: #b0bec5;
    text-decoration: none;
    padding-inline: 0 !important;
}

.sidebar-footer .footer-links li a:hover {
    text-decoration: underline;
}


/* Mobile (Drawer) */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }
    main {
        margin-left: 0;
    }
    header{
        display: flex;
    }
    .logo-sidebar {
        display: none;
    }
    .menu-toggle {
        display: block;
    }

    .sidebar.open {
        transform: translateX(0);
    }

}