@page "/login"
@using Web.Client.Components.Layout
@layout AuthLayout
@inject NavigationManager Navigation
@using Web.Client.Components.Auth
@rendermode InteractiveServer

@if (!isAuthenticated)
{
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Connexion" >
            <div class="bg-white">
            <h1 class="pb-4">Connectez-vous</h1>
            <LoginForm/>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Inscription" >
            <div class="bg-white">
                <h1 class="pb-4">Inscrivez-vous</h1>
                <RegisterForm/>
            </div>
        </MudTabPanel>
    </MudTabs>
}


@code {
    private int activeTabIndex = 0;
    private bool isAuthenticated = false;
    private string username = "";

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = false;
        if (isAuthenticated)
        {
            Navigation.NavigateTo("/");
        }
    }

}